.dual-slider {
  padding: 10px 5px;
  height: 80px;
  border: 1px solid gray;
  border-radius: 5px;

  &__title {
    font-weight: 500;
    text-align: center;
    margin: 0 0 10px 0;
  }

  &__text-block {
    display: flex;
    justify-content: space-around;
    margin: 0 0 15px 0;
  }

  &__inputs {
    display: block;
    position: relative;
  }
  
  &__left,
  &__right {    
    appearance: none;
    width: 100%;
    outline: none;
    height: 2px;
    border: none;  
    background-color: rgb(48, 48, 48);
    pointer-events: none;
    position: absolute;

    &::-webkit-slider-thumb {
      appearance: none;
      height: 20px;
      width: 20px;
      border-radius: 50%;
      background-color: #5a6b47;
      border: 1px solid white;
      position: relative;
      cursor: pointer;
      pointer-events: all;
      z-index: 1;

      // &::before {
      //       content: ' ';
      //       display: block;
      //       position: absolute;
      //       top: 13px;
      //       left: 100%;
      //       width: 2000px;
      //       height: 2px;
      // }

   }

  }

  &__left {

  }

  &__right {

  }

}