.card {
  width: 350px;
  height: 470px;
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 1.5rem;
    color: rgb(90, 107, 71);
    width: 100%;
    height: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &__category {
    font-size: 1rem;
    text-align: center;
    text-transform: uppercase;
  }

  &__img {
    width: 100%;
    height: 330px;
  }

  &__info {
    margin: 5px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  &__buttons {
    display: flex;
    width: 100%;
    justify-content: space-around;
    gap: 5px;
  }

  &__link-title {
    text-decoration: none;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.8;
    }
  }
  &__link-inf {
    position: relative;
  }
  &__btn-inf {
    padding: 10px 15px;
    background-color: #3d3836de;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease;
    min-width: 152px;

    &:hover {
      opacity: 0.8;
    }
  }
  &__video-icon {
    position: absolute;
    right: 10px;
    top: 5px;
    width: 25px;
    height: 25px;
    mask-image: url('./video-icon.png');
    mask-size: 25px 25px;
    background-color: #aa8066;
    pointer-events: none;
  }
  &__tag-items {
    display: none;
    text-align: right;
    padding: 0 10px;
  }
  &__tag {
    margin: 0 0 10px 0;
  }
}
