.item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    // justify-content: space-between;
    gap: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(137,144,148);
    
text-align: center;

    &__num{
        width: 30px;
        text-align: center;
    }

    &__img{
        width: 100px;
        height: 100px;
        object-fit:cover;
        cursor: pointer;
    }

    &__name,
    &__category{
        width: 120px;
    }

    &__count{
        width: 50px;
    }
    &__price{
        width: 80px;
    }
    &__sum{
        width: 90px;
    }


}
.input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;

    &__btn{
        border-radius: 50%;
        background-color: #5a6b47;
        width: 20px;
        height: 20px;
        border: none;
        color: white;
    }
}