.cart-page {
  &__container {
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
  }
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 10px;
}

.title {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid rgb(137, 144, 148);
  text-align: center;
  font-weight: bold;
  &__num {
    width: 30px;
  }

  &__name {
    width: 130px;
    padding-left: 100px;
  }
  &__category {
    width: 120px;
  }

  &__count {
    width: 50px;
  }
  &__price {
    width: 80px;
  }

  &__pagination {
    width: 90px;
  }

  &__sum {
    width: 90px;
  }
}
.cart-products {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.summary {
  background-color: #5a6b473d;
  border-radius: 20px;
  height: 300px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  gap: 10px;

  &__title {
    font-weight: bold;
    text-transform: uppercase;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-content: space-between;
  }

  &__btn {
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    background-color: #5a6b47;
    color: white;
  }
}

.content {
  width: 100%;
  &__element {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(137, 144, 148);
  }
  &__title {
    font-weight: bold;
  }
}

.cart-page__empty {
  width: 100%;
  text-align: center;
  color: #5a6b47;
  font-size: 40px;
  font-weight: bold;
}
