.filter {
  padding: 5px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  &__title {
    text-align: center;
    font-weight: 600;
    font-size: 1.25rem;
    margin: 0 0 10px 0;
  }
  &__buttons {
    display: flex;
    justify-content: space-around;
  }
  &__copy,
  &__reset {
    background-color: #898a86;
    color: white;
    border: none;
    border-radius: 10px;
    outline: none;
    padding: 10px 8px;
    cursor: pointer;
    transition: all 0.5s ease;

    &:hover{
      opacity: 0.75;
    }
  }

  &__copy {
    &--copied {
      background-color: #5a6b47;
    }
  }
}

.tags {
  border: 1px solid gray;
  border-radius: 5px;
  padding: 5px;

  &__tag {
    background-color: rgba(90, 107, 71, 0.1);
    cursor: pointer;

    &::before {
      content: "#"
    }
  }
}
