.products-page {
  display: flex;
  gap: 10px;
  padding: 0 0 10px 0;

  &__filter {
    flex: 0 0 300px;
    border: 1px solid brown;
  }

  &__products {
    flex: 1 1 auto;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
  }
}
